.dashboard {
    background-color:rgba(161, 150, 150, 0.158);
    height: 100vh;
    color: white;
    cursor: pointer;
  
  }
  .menu-bar {
    list-style: none;
    margin-top: 10px;
    color:whitesmoke;
    
  }
  .menu-bar:hover {
    color: rgb(169, 173, 173);
  }
  .text{
    text-decoration: none;
   
  }