.dashboard {
    background-color:rgba(161, 150, 150, 0.158);
    height: 100vh;
    color: white;
    cursor: pointer;
  
  }
  .dashboard-menu {
    list-style: none;
    margin-top: 10px;
  }
  .dashboard-menu:hover {
    color: cyan;
  }